<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/main.css">
    <meta charset="utf-8">
    <title></title>

    <style>

    html {
      background: url(http://iliketowastemytime.com/sites/default/files/old_mountains-wide_0.jpg) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }


    .edit {
      cursor: pointer;
      font-weight: 600;
      font-size: 50px;
    }

    </style>

  </head>
  <body>

      <div class="product-detail-buttons">

      <a href="/bars"><button class="home">Home</button></a>

      <a href="/bars/shop"><button class="shop">Shop</button></a>

      </div>

    <h1>EDIT PRODUCT</h1>


    <div class='container-edit'>

    <form action="/bars/shop/<%=bar.id%>?_method=PUT" method="POST">
      <img src="<%=bar.img %>"</a><br/>
    Name: <br/> <input type="text" name="name" value="<%=bar.name%>"><br/>
    Description: <br/> <input type="text" name="description" value="<%=bar.description%>"><br/>
    Price: <br/> <input type="number" name="price" value="<%=bar.price%>"><br/>
    Inventory: <br/> <input type="number" name="quantity" value="<%=bar.quantity%>"><br/>

    <div class="edit">
    <input type="submit" name="" value="Submit Changes" /><br/>
    </div>

      </form>

      </div>



  </body>
</html>
