<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/main.css">
    <meta charset="utf-8">
    <title></title>

    <!-- <style>
   .container {
     border-radius: 25%;
     line-height: 200%;
     width: 350px;
     margin:auto;
     margin-top: 5px;
     padding: 10px;
     text-align: center;
   }
    </style> -->

  </head>
  <body>

    <h1>MIXOLOGIST MOUNTAIN</h1>

    <!-- <div class="container">


  <nav>
  <a href="/bars/new"><button>Create New Product</button></a>
  </nav>

    <% for(let i = 0; i < bars.length; i++){ %>




        <a href="/bars/<%=bars[i].id%>"</a><br/>
          <img src="<%=bars[i].img%>"><br/>
          <%=bars[i].name; %><br/>
         Description: <%=bars[i].description; %><br/>
         Price: $<%=bars[i].price; %><br/>
         Quantity: <%=bars[i].qty; %><br/>

<form action="/bars/<%=bars[i].id%>?_method=DELETE" method="POST">

                <input type="submit" value="DELETE" /><br/>

              </form>

              <a href="/bars/<%=bars[i].id; %>/edit"><button>Edit Bars</button></a>

                <% } %>

      </div> -->

  </body>
</html>
