<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/main.css">
    <meta charset="utf-8">
    <title></title>

    <style>

    html {
      background: url(http://blog.pakistani.pk/wp-content/uploads/2016/02/1..jpg) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    .drink-button, .location-button {
      display: flex;
      font-family: 'Sorts Mill Goudy', serif;
      cursor: pointer;
      background-color: floralwhite;
      border-radius: 30%;
      font-weight: 600;
      font-size: 25px;
      color: black;
    }


    </style>

  </head>
  <body>

    <div class="flex-container3">

    <a href="/bars"><button class="home">Home</button></a>

    <a href="/bars/shop/new"><button class="create">New Product</button></a>

    <a href="/bars/drink"><button class="drink-button">Speciality Cocktails</button></a>

    <a href="/bars/location"><button class="location-button">Locations</button></a>


    </div>



    <div class="text animated bounce">
    <h1>BARTENDER'S PARADISE</h1>
    </div>



    <div class="flex-container2">

          <% for(let i = 0; i < bars.length; i++){ %>

              <a href="/bars/shop/<%=bars[i].id%>"</a><br/>
              <img src="<%=bars[i].img%>"><br/>
              <%=bars[i].name; %><br/>
      Price: $<%=bars[i].price; %><br/>
    Quantity: <%=bars[i].quantity; %><br/>

                <% } %>

      </div>

  </body>
</html>
