<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

    <style>

    html {
      background: url(http://blog.pakistani.pk/wp-content/uploads/2016/02/1..jpg) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    .flex-container2 {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }



    </style>

  </head>
  <body>

    <h1>Helloo!!!!!</h1>


<div class="flex-container2">

<% for(let i = 0; i < bars.length; i++){ %>

        <a href="/bars/shop/<%=bars[i].id%>"</a><br/>
          <img src="<%=bars[i].img%>"><br/>
          <%=bars[i].name; %><br/>
         Description: <%=bars[i].description; %><br/>
         Price: $<%=bars[i].price; %><br/>
         Quantity: <%=bars[i].quantity; %><br/>

<form action="/bars/<%=bars[i].id%>?_method=DELETE" method="POST">

                <input type="submit" value="DELETE" /><br/>

              </form>

                <% } %>

      </div>


    <nav>
    <a href="/bars"><button>Home</button></a>
    </nav>

    <nav>
    <a href="/bars/shop/new"><button>Create New Product</button></a>
    </nav>

  </body>
</html>
